.navbar {
  border: none;
}

.container-fluid {
  margin-top: -20px;
}

.navbar-inverse {
  padding-top: 18px;
  margin-bottom: -1px;
  border-color:  #1B1723;
  background-color: #1B1723;
  border-radius: unset;
}

.navbar-collapse {
  padding-top: 0px;
  margin-bottom: -1px;
  background-color: #1B1723;
}
.navbar-collapse .collapse .in {
  border: none;
}

.navbar-inverse .navbar-toggle {
  border-color:  #1B1723;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.nav .navbar-nav {
  margin-left: 30px;
}

.navbar-right {
  margin-right: 30px;
}

.nav-item {
  padding: 16px;
  font-size: 16px;
}

.banner {
  width: 100%;
  background-color: #1B1723;
}

.design-label {
  font-size: 2vw;
  width: 20vw;
  margin-top: 1vw;
  font-weight: 100;
  background: #1B1723;
}
.design-label span {
  margin-left: 3vw;
}


#product-design {
  margin-bottom: 30px;
}

.products-container {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  margin-top: -1vw;

}
.products-container img {
  max-width:100%;
  z-index: -1;
}
.products-container .no-padding {
  padding: 0px;
}

.behind {
  z-index: -1;
}


.arrow {
  position: relative;
  background: #1B1723;
  margin-top: -50px;
  margin-bottom: 60px;
}

.arrow:after, .arrow:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow:after {
	border-color: rgba(0, 0, 0, 0);
  border-top-color: #1B1723;
	border-width: 20px;
	margin-left: -20px;
}
.arrow:before {
	border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-radius: 100px;
	border-width: 26px;
	margin-left: -26px;
}


